version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: TaskForge_postgres
    restart: always
    environment:
      POSTGRES_DB: TaskForge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d TaskForge"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: crm_backend
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/TaskForge
      JWT_SECRET: supersecretkey
    command: sh -c "npx prisma migrate deploy && node dist/src/main.js"

volumes:
  postgres_data:
